# ============================================================
# SERVIX Admin — Environment Variables
# ============================================================

NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=CHANGE_ME_TO_A_VERY_LONG_RANDOM_STRING
